<div class="profile_title">
  <h1 class="page-title">Edit my<span class="profile-tite-span">Profile</span></h1>
</div>
<div class="user-info-edit">
  <form
    action="/myprofile/edit-profile"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="image_edit_profile">
      <img
        src="{{ user.image }}"
        alt=""
        name="image"
        value="{{ user.image }}"
        class="profile_picture_edit"
      />
    </div>

    <h6 class="change-image">Change image Profile</h6>
    <input type="hidden" name="imageBefore" value="{{ user.image }}" />
    <input type="file" name="photo" />

    <div class="user-edit">
      <h6 class="title-edit-profile">Edit your username</h6>
      <input
        class="username_input"
        type="text"
        name="name"
        value="{{ user.name }}"
      />

      <h6 class="title-edit-profile">Edit your description</h6>
      <textarea
        name="description"
        maxlength="140"
        value="{{ user.description }}"
        class="description_input">{{user.description}}</textarea>
      <h6 class="title-edit-profile">Edit your email</h6>
      <input
        class="email_input"
        type="email"
        name="email"
        value="{{ user.email }}"
      />

      <hr class="divider-section" />
      <div class="user-btn-edit">
        <button class="edit-btn-profile" type="submit">Save profile</button>
        <button class="edit-btn-profile2">
          <a style="color: white" href="/myprofile">Return to profile</a>
        </button>
      </div>
    </div>
  </form>
</div>
