
<form action="/mycloset/add-item">
    <button type="submit">New clothes</button>
</form>

{{#each allItems}}
<div>
    <a href="{{this._id}}">{{this.name}}</a>
    <p>{{this.description}}</p>
    <img src="{{this.image}}" alt="picture">
    <form action="/{{this._id}}/edit">
        <button type="submit">Edit</button>
    </form>
    <form action="/{{this._id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}}
<a href="/auth/logout">Logout</a>