<h1>{{thisCollection.name}}</h1>
<h3>{{thisCollection.description}}</h3>
<form action="/mycommunity/{{ thisCollection._id }}/add-collection" method="post">
  <button type="submit">Add collection</button>
</form>
{{#each thisCollection.outfits}}
<div>
  <h5>{{this.name}}</h5>
  <h5>{{this.description}}</h5>
  <img src="{{this.imageTop}}" alt="" style="width: 100px;">
  <img src="{{this.imageBottom}}" alt="" style="width: 100px;">
  <img src="{{this.imageFeet}}" alt="" style="width: 100px;">
</div>
{{/each}}