<h1 class="add-item-title">{{ thisCollection.name }}</h1>
<hr class="divider-section-app" />
<div class="add-item-container">
  <p class="description-collection">{{ thisCollection.description }}</p>
  <form
    action="/mycommunity/{{ thisCollection._id }}/add-collection"
    method="post"
  >
    <div class="user-btn">
      <button class="add-collection-btn" type="submit">+ Add collection</button>
    </div>
  </form>
  {{#each thisCollection.outfits}}
  <div class="divider-items">
    <h1 class="item-name">{{ this.name }}</h1>
    <h5>{{ this.description }}</h5>
    <img
      class="clothes-image"
      src="{{ this.imageTop }}"
      alt=""
      style="margin-top: 1rem"
    />
    <img class="clothes-image" src="{{ this.imageBottom }}" alt="" />
    <img
      class="clothes-image"
      src="{{ this.imageFeet }}"
      alt=""
      style="margin-bottom: 1rem"
    />
  </div>
  {{/each}}
</div>
