<h1>Community</h1>

{{#each allButMe}}
<div>
  <a href="mycommunity/{{this.id}}/closet">
    <img src="{{this.image}}" alt="" style="width: 100px; border-radius: 50px">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <span>Items: {{this.items.length}}</span>
    <span>Outfits: {{this.outfits.length}}</span>
    <span>Collections: {{this.collections.length}}</span>
  </a>
</div>
{{/each}}

<h1>My follows</h1>

{{#each me.following}}
<div>
  <a href="mycommunity/{{this.id}}/closet">
    <img src="{{this.image}}" alt="" style="width: 100px; border-radius: 50px">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <span>Items: {{this.items.length}}</span>
    <span>Outfits: {{this.outfits.length}}</span>
    <span>Collections: {{this.collections.length}}</span>
  </a>
</div>
{{/each}}

<h1>My follows</h1>

{{#each notifications}}
<div>
  <p>{{this.name}} has uploaded a new {{this.type}}:  {{this.item.name}} {{this.outfit.name}} {{this.collections.name}} </p>
</div>
{{/each}}