<div class="profile_title">
  <h1 class="page-title">the<span class="profile-tite-span">Community</span></h1>
</div>

{{#each allButMe}}
<div class="community_users_list">
  <a href="mycommunity/{{ this.id }}/closet">
    <div class="name_image">
      <img src="{{ this.image }}" alt="" class="image_community" />

      <h3 class="user_name">{{ this.name }}</h3>
    </div>

    <i class="user_description">
      {{#if this.description}}
      "{{ this.description }}"
      {{/if}}
    </i>
    <p class="user_contact">
      Contact me: <span class="user_email_comm">{{ this.email }}</span>
    </p>
    <hr class="divider-section" />
    <div class="user_data">
      <p class="data_item">Items: {{ this.items.length }}</p>
      <p class="data_item">Outfits: {{ this.outfits.length }}</p>
      <p class="data_item">Collections: {{ this.collections.length }}</p>
    </div>
  </a>
</div>
{{/each}}


<h1>My follows</h1>

{{#each me.following}}
<div>
  <a href="mycommunity/{{this.id}}/closet">
    <img src="{{this.image}}" alt="" style="width: 100px; border-radius: 50px">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <span>Items: {{this.items.length}}</span>
    <span>Outfits: {{this.outfits.length}}</span>
    <span>Collections: {{this.collections.length}}</span>
  </a>
</div>
{{/each}}

<h1>My feed</h1>

{{#each notifications}}
<div>
  <img src="{{this.name.image}}" alt="" style="width: 50px;">
  <p>{{this.name.name}} has uploaded a new {{this.type}}:  {{this.item.name}} {{this.outfit.name}} {{this.collections.name}} </p>
   <form action="/mycommunity/{{ this._id }}/delete-notification" method="post">
        <button type="submit">Delete</button>
   </form>
</div>
{{/each}}
