<div class="comm_hero">
  <h1 class="page-title">
    <span class="profile-tite-span">Community</span>
  </h1>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="pill-navbar"
      id="pills-thecommunity-tab"
      data-toggle="pill"
      href="#pills-thecommunity"
      role="tab"
      aria-controls="pills-thecommunity"
      aria-selected="false"
      >DressApp</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="pill-navbar"
      id="pills-collections-tab"
      data-toggle="pill"
      href="#pills-mycommunity"
      role="tab"
      aria-controls="pills-mycommunity"
      aria-selected="false"
      >myCommunity</a
    >
  </li>

  <li class="nav-item" role="presentation">
    <a
      class="pill-navbar"
      id="pills-myfeed-tab"
      data-toggle="pill"
      href="#pills-myfeed"
      role="tab"
      aria-controls="pills-myfeed"
      aria-selected="true"
      >myNotifications</a
    >
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-thecommunity"
    role="tabpanel"
    aria-labelledby="pills-thecommunity-tab"
  >
    <div class="clothes-container">
      <div class="profile_title">
        <h1 class="page-title">
          DressApp<span class="profile-tite-span">Users</span>
        </h1>
      </div>
<div class="each-item">
      {{#each allButMe}}
      <div class="community_users_list">
        <a href="mycommunity/{{ this.id }}/closet">
          <div class="name_image">
            <img src="{{ this.image }}" alt="" class="image_community" />

            <h3 class="user_name">{{ this.name }}</h3>
          </div>

          <i class="user_description">
            {{#if this.description}}
            "{{ this.description }}"
            {{/if}}
          </i>
          <p class="user_contact">
            Contact me: <span class="user_email_comm">{{ this.email }}</span>
          </p>
          <hr class="divider-section" />
          <div class="user_data">
            <p class="data_item">Items: {{ this.items.length }}</p>
            <p class="data_item">Outfits: {{ this.outfits.length }}</p>
            <p class="data_item">Collections: {{ this.collections.length }}</p>
          </div>
        </a>
      </div>
      {{/each}}
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-mycommunity"
    role="tabpanel"
    aria-labelledby="pills-outfits-tab"
  >
    <div class="clothes-container">
      <div class="profile_title">
        <h1 class="page-title">
          My<span class="profile-tite-span">community</span>
        </h1>
      </div>
<div class="each-item">
      {{#each me.following}}
      <div class="community_users_list">
        <a href="mycommunity/{{ this.id }}/closet">
      <div class="name_image">
        <img
          src="{{ this.image }}"
          alt=""
          class="image_community"
        />
        
        <h3 class="user_name">{{ this.name }}</h3>
        
        </div>
        <i class="user_description">{{ this.description }}</i>
        <hr class="divider-section" />
        <div class="user_data">
            <p class="data_item">Items: {{ this.items.length }}</p>
            <p class="data_item">Outfits: {{ this.outfits.length }}</p>
            <p class="data_item">Collections: {{ this.collections.length }}</p>
          </div>
     </a>
    </div>
    {{/each}}
    </div>
  </div>
  </div>

  <div
    class="tab-pane fade"
    id="pills-myfeed"
    role="tabpanel"
    aria-labelledby="pills-myfeed-tab"
  >
    <div class="allnotis-container">
      <div class="profile_title">
        <h1 class="page-title">
          my<span class="profile-tite-span">Notifications</span>
        </h1>
      </div>
<div class="container-container-notis">
      {{#each notifications}}
      <div class="container-notification">
        <img class="image-notification" src="{{ this.name.image }}" alt="" />
        {{#if this.upload}}
        <p class="notification-text">
          <a class="link_name_noti" href="mycommunity/{{ this.name.id }}/closet">{{ this.name.name }}</a>
           has <span class="notification-text-bold">uploaded</span> a new <span class="notification-text-bold">{{ this.type }}:</span><br>
          {{ this.item.name }} {{ this.outfit.name }}
          {{ this.collections.name }}
        </p>
        {{else}}
        <p>
          <p class="notification-text">
          <a class="link_name_noti" href="mycommunity/{{ this.name.id }}/closet">{{ this.name.name }}</a>
           has <span class="notification-text-bold"> liked</span> your <span class="notification-text-bold">{{ this.type }}:</span><br>
          {{ this.item.name }} {{ this.outfit.name }}
          {{ this.collections.name }}
        </p>
        </p>
        {{/if}}
        <form
          action="/mycommunity/{{ this._id }}/delete-notification"
          method="post"
        >
          <button class="delete-notification" type="submit"><i class="fas fa-times x-delete"></i></button>
        </form>
      </div>

      {{/each}}
      </div>
    </div>
  </div>
</div>
</div>