<div class="profile_title">
  <h1 class="page-title">the<span class="profile-tite-span">Community</span></h1>
</div>

{{#each allButMe}}
<div class="community_users_list">
  <a href="mycommunity/{{ this.id }}/closet">
    <div class="name_image">
      <img src="{{ this.image }}" alt="" class="image_community" />

      <h3 class="user_name">{{ this.name }}</h3>
    </div>

    <i class="user_description">
      {{#if this.description}}
      "{{ this.description }}"
      {{/if}}
    </i>
    <p class="user_contact">
      Contact me: <span class="user_email_comm">{{ this.email }}</span>
    </p>
    <hr class="divider-section" />
    <div class="user_data">
      <p class="data_item">Items: {{ this.items.length }}</p>
      <p class="data_item">Outfits: {{ this.outfits.length }}</p>
      <p class="data_item">Collections: {{ this.collections.length }}</p>
    </div>
  </a>
</div>
{{/each}}
