<div class="add-item-container">
  <h3 class="add-item-title">Edit {{ theCollection.name }}</h3>
  <hr class="divider-section-app" />

  <form
    action="/mycloset/{{ theCollection._id }}/edit-collection"
    method="post"
  >
    <div class="add-item-form">
      <label for="">Name:</label>
      <input type="text" name="name" value="{{ theCollection.name }}" />

      <label for="">Description:</label>
      <input
        type="text"
        name="description"
        value="{{ theCollection.description }}"
      />
      <div class="user-btn">
        <button class="edit-btn-item" type="submit">Edit</button>
        <button class="delete-item-btn">
          <a href="/mycloset" style="color: white">Back</a>
        </button>
      </div>
    </div>
  </form>
  {{#each theCollection.outfits}}
  <form
    action="/mycloset/{{../theCollection._id}}/delete-outfit-collection"
    method="post"
  >
    <div class="add-item-form">
      <div class="divider-items">
        <h1 class="outfit-name-editCol">{{ this.name }} Outfit</h1>
        <input type="hidden" name="outfitID" value="{{ this._id }}" />
        <img src="{{ this.imageTop }}" alt="" style="width: 100px" />
        <img src="{{ this.imageBottom }}" alt="" style="width: 100px" />
        <img src="{{ this.imageFeet }}" alt="" style="width: 100px" />
        <div class="user-btn">
          <button class="delete-item-button" type="submit">
            Delete outfit from collection
          </button>
        </div>
      </div>
    </div>
  </form>
  {{/each}}
</div>
